@model Price_List.Models.PriceList

@{
    ViewBag.Title = "AddPriceList";
}

<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title" id="addListLable">Добавление праст листа</h4>
        <button type="button" class="close" data-dismiss="modal">
            <span>X</span>
        </button>
    </div>
    <div class="modal-body">
        <form action="/PriceList/AddPriceList" method="post">
            <div class="form-group">
                <label for="Name">Имя</label>
                <input type="text" name="Name" class="form-control" />
            </div>
            <div class="form-name-col text-info row">
                <div class="col-md-6"><label>Дополнительные колонки</label></div>
            </div>
            <div class="form-group-body">
                <div class="form-group form-group-add">
                    <div class="form-col row">
                        <div class="name-col col-md-4">
                            <label for="ColAdd">Имя доп. колонки</label>
                            <input type="text" name="ColAdd" class="form-control input-data" />
                        </div>
                        <div class="type-col col-md-4">
                            <label for="exampleFormControlSelect2">Тип данных</label>
                            <select class="form-control form-control-lg select-data">
                                <option>Число</option>
                                <option>Однострочный текст</option>
                                <option>Многострочный текст</option>
                            </select>
                        </div>
                        <div class="del-col col-md-4">
                            <label for="exampleFormControlSelect2"></label>
                            <button type="button" class="btn btn-primary" data-del-col="modal">Удалить</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-btn-add">
                <button type="button" class="btn btn-primary" data-add="modal">Добавить</button>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Закрыть</button>
        <button type="button" id="btn_save_add" class="btn btn-primary" data-save="modal">Сохранить</button>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/Scripts/MyScripts/modal_window.js")
}

