@model Price_List.Models.PriceList

@{
    ViewBag.Title = "AddPriceList";
}

<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title" id="addListLable">Добавление праст листа</h4>
        <button type="button" class="close" data-dismiss="modal">
            <span>X</span>
        </button>
    </div>
    <div class="modal-body">
        <form action="/PriceList/AddPriceList" method="post">
            <div class="form-group">
                <label for="Name">Имя</label>
                <input type="text" name="Name" class="form-control" />
            </div>
            <div class="form-name-col text-info row">
                <div class="col-md-6"><label>Дополнительные колонки</label></div>
            </div>
            <div class="form-group-body">
                
            </div>
            <div class="form-btn-add">
                <button type="button" class="btn btn-primary" data-add="modal">Добавить</button>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Закрыть</button>
        <button type="button" id="btn_save_add" class="btn btn-primary" data-save="modal">Сохранить</button>
    </div>
</div>



