@model Price_List.Models.PriceList

<div class="modal-content">
    <div class="modal-header">
        <button class="close" data-dismiss="modal" area-hidden="true">X</button>
        <h4>Изменение данных</h4>
    </div>
    <div class="modal-body">
        <form action="/PriceList/EditPriceList" method="post">
            @foreach (var property in ViewData.ModelMetadata.Properties)
            {
                <div class="form-group">
                    @if (property.PropertyName == "Name")
                    {
                        <label>@property.PropertyName</label>
                        @Html.TextBox(property.PropertyName, null,
                        new { @class = "form-control", rows = 5 });
                    }
                    @if(property.PropertyName == "Id")
                    {
                        @Html.TextArea(property.PropertyName, null,
                        new { @class = "form-control hide" });
                    }
                </div>
            }
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Закрыть</button>
        <button type="button" id="btn_save_add" class="btn btn-primary" data-save="modal">Сохранить</button>
    </div>
</div>


